@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
	font-family: 'Pretendard-Regular';
	text-decoration:none;
}
 main {
 	width: 1000px;
 	margin:0 auto;
 }
header {
	width:100%; 
	height: 100%; 
	padding-bottom: 10px;
	background: white; 
	border-bottom: 1px #C5C5C7 solid; 
	display: flex;
	justify-content: center;
	text-align: center; 
	align-items: center; 
	gap: 60px; 
}
#searchWord {
	width: 500px; 
	height: 20px; 
	padding: 7px 5px; 
	background: #F2F2F6;
	display: inline-flex; 
	justify-content: flex-start; 
	align-items: center; 
	gap: 10px; 
	display: flex;
	border: 1px solid #F2F2F6;
	border-radius: 15px;
 }
#searchWord::-webkit-input-placeholder{
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png) ;
  background-size: contain;
  background-position:  1px center;
  background-repeat: no-repeat;
  text-align: center;
  text-indent: 0;
}
footer {
	width: 100%; 
	height: 100%; 
	margin-top: 100px;
	padding: 64px 0px; 
	display: inline-flex;
	border-top: 1px #DAE2EB solid; 
	justify-content: center; 
	align-items: center;
}
#info {
	color: #4E657E; 
	font-size: 14px; 
	font-weight: 400; 
	line-height: 21px; 
	word-wrap: break-word;
	padding: 20px;
}
.contact {
	width: 18px;
	height: 18px;
}
ul, li{
	list-style: none;
}

nav{
	display: flex;
	flex-direction: column;
}
nav li{
	float: left;
	margin-right: 10px;
}
a:link, a:visited, a:hover{
	text-decoration: none;
	color:black;
}
.logForm {
	font-size:16px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logForm input{ 
	width: 500px;
	height: 32px;
	border-radius: 6px; 
	border: 1px #DAE2EB solid;
}
.logForm li {
	margin: 10px;
}
.registerBtn {
	background-color: #52B0C5;
	border-radius: 100px !important;
	color: white;
	margin-top: 50px;
}
.registerBtn:hover {
	background-color:#E8FBFF;
	color: #52B0C5;
	border: 1px solid #52B0C5;
}
.registerKakao {
	width: 100%;
	height: 32px;
	margin-top: 30px;
	justify-content: center; 
	align-items: center;
	background-color: #FFEB02;
	border: hidden;
	border-radius: 100px;
	text-align:center;
}
.find_wrap {
	text-align:center;
	margin-top:20px;
	}
.find_wrap li {
	position:relative;
	display:inline-block;
	color: #869AAF; 
	font-size:13px;
}
.find_wrap li+li{
	padding-left:40px;
}
.find_wrap li+li::before {
	content:'';
	position:absolute;
	top:3px;
	left:10px;
	width:1px;
	height:12px;
	border-radius:.5px;
	background-color:#dadada;
}.find_wrap .en_find_text{
	display:inline-block;
	font-size:14px;
	line-height:20px;
	text-decoration:none;
	color:#888;
}
.registerForm {
	font-size:16px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.registerForm input{ 
	width: 500px;
	height: 32px;
	border-radius: 6px; 
	border: 1px #DAE2EB solid;
}
.registerForm li {
	margin: 10px;
}
#registerCheck {
	color: #869AAF; 
	font-size:13px; 
	margin: 30px 0 0 0 !important; 
	justify-content: flex-start !important;
}
.keywordTag {
	margin-top:10px; 
	padding:0 10 10 10px; 
}
#keyword {
	color: #869AAF;
	background-color: white;
	border: #869AAF solid 0.5px; 
	border-radius: 1000px;
	padding: 6px 12px; 
	justify-content: flex-start; 
	align-items: center;
	gap: 6px; 
}
#keyword:hover {
	background-color: #52B0C5;
	border-color: #52B0C5;
	color: white;
	cursor: pointer;
}
#landBtn {
	width: 160px;
	height: 48px; 
	padding-left: 0 20px; 
	background: #52B0C5; 
	border-radius: 100px; 
	border: hidden; 
	justify-content: center; 
	align-items: center; 
	gap: 10px; 
	display: inline-flex; 
	color: white; 
	font-size: 16px;
}
#landBtn:hover {
	background-color:#E8FBFF;
	color: #52B0C5;
	border: 1px solid #52B0C5;
}
#landBtn2 {
	width: 10%; 
	height: 43px; 
	top: 0; 
	bottom: 0; 
	right: 5px; 
	color: white; 
	background-color: #52B0C5; 
	border: hidden; 
	border-radius: 13px;
	justify-content:center;
	font-size: 16px;
}
#landBtn2:hover {
	background-color:#E8FBFF;
	color: #52B0C5;
	border: 1px solid #52B0C5;
}
#landing {
	margin-top: 80px;
	column-count: 2;
}
.search {
	height: 40px;
	position: relative;
}
#searchLand {
	width: 88%;
	height: 40px; 
    background: #E8FBFF; 
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10); 
	border-radius: 13px; 
	border: 2px #52B0C5 solid; 
	justify-content: space-between; 
	align-items: center; 
	display: inline-flex;
}
#searchLand:focus {
	outline: #52B0C5;
}
#searchLand::-webkit-input-placeholder{
	  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png) ;
	  background-size: contain;
	  background-position:  1px center;
	  background-repeat: no-repeat;
	  text-align: center;
	  text-indent: 0;
}
#landInfo {
	margin-top: 60px;
	display: grid;
	grid-template-columns: 330px 330px 330px; 
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
}
#landImage2 {
	margin-top: 80px;
	display: grid;
	grid-template-columns: 500px 500px;
}
#mIng {
	margin: 30px 0 0 10px;
	display: grid;
	grid-template-columns: 330px 330px 330px; 
}
#mIng button:hover {
	background-color: #52B0C5;
	color: white;
}
#ingList {
	width: 320px;
	height: 150px;
	border: 1px #DAE2EB solid;
	border-radius: 15px;
}
.ingM{
	padding: 20px;
}
.ingM li{
	padding-bottom: 10px;
}
.ingM li:first-child{
	font-size:1.1em;
}
.ingM li:nth-child(2){
	font-size:0.8em;
}
.ingM button {
	width: 100%;
	height: 25px;
	border: 1px solid #52B0C5;
	border-radius: 100px;
	background-color:#E8FBFF;
	color: #52B0C5;
}
#recommendMList {
	display:grid;
	grid-template-columns: 330px 330px 330px;
	padding: 0 30px 20px 0;
}
.rMInfo {
	padding: 30px 10px 10px 0;
}
.rMInfo img {
	width: 320px;
	height: auto;
}
.rMInfo li{
	padding-top: 10px;
}
.rMInfo li:nth-child(3), li:nth-child(5){
	font-size: 0.8em;
}
.rMInfo li:nth-child(4) span{
	color: white;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #52B0C5;
	font-size: 0.7em;
	margin: 0 5px 0 0;
	padding: 2px 4px;
}
#popM {
	margin: 100px 0 10px 0;
	padding-bottom: 10px;
	
}
#popMList {
	display:grid;
	grid-template-columns: 500px 500px;
}
.popMContent {
	display:grid;
	grid-template-columns: 30px 140px 300px;
	margin: 15px;
	justify-content: center;
	align-items: center;
}
.popMInfo li{
	margin: 15px;
}
.popMInfo li:first-child {
	font-size: 1.1em;
}
.popMInfo li:last-child {
	font-size: 0.8em;
}
.popMInfo li:nth-child(2) span{
	color: white;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #52B0C5;
	font-size: 0.7em;
	margin: 0 5px 0 0;
	padding: 2px 4px;
}
#popMa {
	display: grid;
	grid-template-columns: 300px 700px;
	padding: 20px 0 30px 0;
	border-bottom: 1px solid #DAE2EB; 
}
#popMa:last-child {
	border: none;
} 
#popMaInfo {
	display: grid;
	grid-template-columns: 170px 130px;
}
#popMaInfo span{
	display:flex;
	align-items: center;
	text-align: center;
}
#popMaInfo img{
	width: 150px;
	height: 150px;
}
#popMaContent {
	display: grid;
	grid-template-columns: 240px 240px 240px;
}
.popMaContents img {
	width: 200px; 
	height: 110px;
}
.popMaContents li {
	margin-top: 5px;
}
.popMaContents li:nth-child(3) span{
	color: white;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #52B0C5;
	font-size: 0.7em;
	margin: 0 5px 0 0;
	padding: 2px 4px;
}
#landingM {
	margin-top: 90px;
	display: grid;
	grid-template-columns: 550px 450px;
}
#mainMaPop {
	margin: 100px 0 30px 0;
	padding-bottom: 10px;
}
#mainMaPopL {
	display: grid;
	grid-template-columns: 500px 500px;
}
.mainMaPopInfo {
	display:grid;
	grid-template-columns: 50px 140px 280px;
	margin: 15px;
	justify-content: center;
	align-items: center;
}
.maMInfo {
	font-size: 0.8em;
	color: #869AAF;
	margin-right: 20px;
}
#mainComPop {
	margin: 100px 0 30px 0;
	padding-bottom: 10px;
}
#mainComPopL {
	display: grid;
	grid-template-columns: 500px 500px;
}
.mainComPopInfo {
	display: grid;
	grid-template-columns: 40px 450px;
	padding: 20px 0;
	border-bottom: 1px solid #DAE2EB; 
} 
.mainComPopInfo:nth-last-child(2), .mainComPopInfo:last-child {
	border: none;
} 
.mainComInfo li:first-child, li:nth-child(3) {
	margin: 0 0 10px 0;
}
.mainComInfo li:nth-child(2) {
	font-size: 0.8em;
}
.mainComInfo li:nth-child(3) span{
	color: white;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #52B0C5;
	font-size: 0.7em;
	margin: 0 5px 0 0;
	padding: 2px 4px;
}
.masterIcon {
	color:#869AAF; 
	padding:0 20px 0 0; 
	font-size:0.7em;
	justify-content: center;
	align-items:center;
}
.masterIcon span:nth-child(1), .masterIcon span:nth-child(3){
	margin-right: 10px;
}