<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ozz.dao.PaymentDAO">

	<insert id="insertPayment">
		insert into t_payment(pay_no, userid, sub_option, pay_amount)
		values(payno_seq.nextval, #{userid}, #{sub_option}, #{pay_amount})
	</insert>
	
	<select id="getUserPayment" resultType="kr.or.ozz.dto.PaymentDTO">
		select * from t_payment
		where userid=#{param1}
	</select>
	
</mapper>